/*!
* Stylesheet/CSS
* http://sebask.me/luisterpaal/
*
* Copyright 2013, Sebastiaan Kooijman
* http://sebask.me/ and some love to http://brothersmedia.nl/
*
* Date: June 10th 2013
*/

html, body {
	padding: 0;
	margin: 0;
}

html {
	background: #f5f5f5;
	overflow-y: scroll;
}

h1 {
	font-size: 60px;
}
a, a:link, a:active, a:visited {
	color: #404040;
	text-decoration: underline;
}
a:hover {
	color: #404040;
}


#wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 50px 10px;
	text-align: center;

}


.album {

margin: 0 8px 25px;
display: inline-block;
width:150px;
text-align: center;
vertical-align: top;
	
}
.albumcoverlink {
	
	background: transparent;
	width: 150px;
	height: 150px;
	display: inline-block;
	
	display: block;
background-size: cover !important;
border-radius: 5px;
box-shadow: rgba(0,0,0,0.5) 0 1px 3px inset;
overflow: hidden;
margin-bottom: 10px;
	
}

.albumcoverlink:hover {
 background: rgba(255,0,0,0.45);
}

.album img {
  position: relative;
  z-index: -1;	
}

.album a { text-decoration: none; }

.album a:hover { color: red; }



#offline {
	display: none;
	width: 500px;
	position: absolute;
	top: 50%;
	margin-top:-8px;
	left: 50%;
	margin-left: -250px;
	text-align: center;
	color: #111;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.1);
	display: block;
}
.cover {
	width: 150px !important;
	height: 150px !important;
}
.sp-player {	
	width: 150px;
	height: 150px;
}
.sp-player-image {
	border-radius: none;
	box-shadow: none;
}
.cover_holder {
	width: 150px;
	height: 150px;
}
.list_carousel {
	width: 690px;
	margin: 0 0 0 40px;
	height: 235px;
}
.caroufredsel_wrapper {
	height: 235px !important;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	color: #999;
	text-align: center;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
	position: relative;
}
.list_carousel li .title {
	cursor: pointer;
	padding-bottom: 28px;
	display: block;
	position: absolute;
	z-index: 10;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.list_carousel {
	position: relative;
}
.clearfix {
	float: none;
	clear: both;
}
.detail {
	padding: 10px 45px;
}
.detail, .detail p {
	font-size: 13px;
	font-family: Arial;
	color: #999;
}
.detail_holder, .read_more {
	width: 155px;
}
.header {
	font-weight: bold;
}
.card_indicator {
	position: absolute;
	bottom: 29px;
	left: -30px;
}
.card {
	width: 155px;
	height: 195px;
	padding: 5px 0 0 5px;
	background: transparent url(/images/card_bg.png) repeat top left;
}
.card .nr {
	position: absolute;
	top: -10px;
	left: 15px;
	background: #F00;
	color: #FFF;
	padding: 10px 5px 7px 5px;
	font-weight: bold;
	font-size: 19px;
	z-index: 9999;
}
.card .title {
	margin-top: 5px;
	font-size: 13px;
	padding-right: 5px;
	font-family: Arial, sans-serif !important;
	height: 35px;
}
.card img {
}
.card {
	text-align: left;
	font-size: 13px;
	font-family: Arial, sans-serif;
}
.prev, .next {
	position: absolute;
	right: -50px;
	display: block !important;
}
.prev {
	top: 60px;
}
.next {
	top: 110px;
}
.prev, .next {
	opacity: 1;
	-webkit-transition: opacity 0.5s;
}
.next.disabled, .prev.disabled {
	opacity: 0.2;
	-webkit-transition: opacity 0.5s;
	cursor: default;
}
.unfold {
	position: absolute;
	bottom: -21px;
	left: 20px;
	display: none;
	z-index: 2;
}
.signature {
	text-align: center;
	color: #999;
	padding-bottom: 20px;
	padding-top: 40px;
	color: #FFF;
}
.signature a:link, .signature a:hover, .signature a:active, .signature a:visited {
	color: #FFF;
	text-decoration: none;
}
.socials {
	padding: 0 10px;
	margin-left: -10px;
}
.socials a {
	position: relative;
}
.socials a:hover {
	display: none;
}
.socials a img {
	position: relative;
	bottom: -5px;
}
a[href^='http:']::after {
	margin-left: 3px;
	content: url('/images/external.png');
	opacity: 0.5;
}
.socials a[href^='http:']::after {
	margin-left: 3px;
	content: '';
	opacity: 0.5;
}
.divider {
	padding: 0 10px;
}
